.contact-section {
  padding: 60px 20px;
  text-align: center;
}

.contact-heading {
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

.contact-subtext {
  font-size: 1rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-inline: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto 40px auto;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
  font-family: inherit;
  resize: none;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: gray;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #4ea49d;
  box-shadow: 0 0 0 2px rgba(78, 164, 157, 0.3);
}

.contact-form button {
  padding: 12px;
  background: #4ea49d;
  /* color: white; */
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #222;
  color: white;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1.1rem;
  flex-wrap: wrap;
}
