@import "tailwindcss";
#links {
  display: flex;
  position: sticky;
  padding: 10px;
  top: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  height: 10vh;
  text-align: center;
  justify-content: end;
  align-items: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.1); /* semi-transparent */
  backdrop-filter: blur(8px); /* the magic */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}
#links > header {
  align-items: center;
  display: flex;
  gap: 50px;
  text-align: end;
  justify-content: end;
}
#links > header > a,
button {
  padding: 10px;
  box-shadow: 1px 2px 2px;
  border-radius: 10px;
  color: #222;
  cursor: pointer;
  font-weight: 500;
  &:hover {
    background: #222;
    color: white;
  }
}
