#section-id {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 10%;
  padding-left: 15%;
}

#position {
  align-items: center;
  font-size: 52px;
  font-weight: 500;
  color: #333;
}

#experience {
  font-size: 38px;
  font-weight: 400;
  color: #555;
}
#full-name {
  display: flex;
  align-items: center;
  gap: 15px;
  letter-spacing: 5px;
}
#first-name {
  font-size: 60px;
  font-weight: 700;
  color: #222;
}

#last-name {
  font-size: 52px;
  font-weight: 600;
  color: #444;
}

@media screen and (max-width: 480px) {
  #section-id {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 10%;
    padding-left: 5%;
  }
}
